{% extends "base-head.html" %}
{% block title %}
<title>Contract Prices</title>
{% endblock %}
  </head>

  <body>

{% block content %}  
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a onclick="return postShowing();">Selection</a></li>
        <li class="active"><a>Prices</a></li>
        <!--<li><a href="/admin/">Admin</a></li>-->
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>

<div class="container theme-showcase">
    {% if containsdata %}
        {% for future, optiondefs in futuredict.items %}
            <div class="col-sm-12">
                {% for option, data in optiondefs.items %}
                    <div class="row">
                        <div class="col-sm-1"></div> 
                        <div class="col-sm-10"> 
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <h3 class="panel-title" name="option" id="{{option.name}}">{{option.name}}, Underlying: {{future.name}}, Current Bid: {{future.bid}}</h3>
                                </div>
                                <div class="panel-body">
                                    {% if data.published %}
                                        <div class="well">
                                            <table cellpadding="0" cellspacing="0" border="0" class="display dataTable">
                                                <thead>
                                                    <tr style="font-size:11px">
                                                        <th style="font-size:11px">Strike</th>
                                                        <th style="font-size:11px">Call</th>
                                                        <th style="font-size:11px">Put</th>
                                                        <th style="font-size:11px">Straddle</th>
                                                        <th style="font-size:11px">Call Delta</th>
                                                        <th style="font-size:11px">Put Delta</th>
                                                        <th style="font-size:11px">Gamma</th>
                                                        <th style="font-size:11px">Theta</th>
                                                        <th style="font-size:11px">Vega</th>
                                                        <th style="font-size:11px">Imp. Vol.</th>
                                                        <th style="font-size:11px">Change</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                {% for row in data.table_data %}
                                                <tr class="gradeC">
                                                {% for e in row %}
                                                    <td style="font-size:11px">{{e}}</td>
                                                {% endfor %}
                                                </tr>
                                                {% endfor %}
                                                </tbody>
                                                <tfoot>
                                                    <tr style="font-size:11px">
                                                        <th style="font-size:11px">Strike</th>
                                                        <th style="font-size:11px">Call</th>
                                                        <th style="font-size:11px">Put</th>
                                                        <th style="font-size:11px">Straddle</th>
                                                        <th style="font-size:11px">Call Delta</th>
                                                        <th style="font-size:11px">Put Delta</th>
                                                        <th style="font-size:11px">Gamma</th>
                                                        <th style="font-size:11px">Theta</th>
                                                        <th style="font-size:11px">Vega</th>
                                                        <th style="font-size:11px">Imp. Vol.</th>
                                                        <th style="font-size:11px">Change</th>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    {% else %}
                                        <div class="well text-center">
                                            <h2>
                                                No published data
                                            </h2>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    {% else %}
        <div class="jumbotron">
          <h1>No Prices Selected.</h1>
        </div>
    {% endif %}

</div> <!-- /container -->

	</body>
</html>

        <style type="text/css" title="currentStyle">
			@import "{{STATIC_URL}}DataTables/media/css/demo_page.css";
			@import "{{STATIC_URL}}DataTables/media/css/demo_table.css";
		</style>
        <script src="{{STATIC_URL}}DataTables/media/js/jquery.dataTables.js"></script>
        <script type="text/javascript" charset="utf-8">
			//$(function() {
            $(document).ready(function () {
				$('.dataTable').dataTable({
                    "aaSorting": [],
                    "iDisplayLength": 100,
                    "bFilter": false,
                    "bLengthChange": false,
                    "bPaginate": false,
                    "oLanguage": {
                        "sInfo": ""
                    }
                });
			});
		</script>

<script type="text/javascript">
    function postShowing() {
        var form = document.createElement("form");
        form.setAttribute("method", "post");
        form.setAttribute("action", "/index.html");
    
        var options = document.getElementsByName("option");
    
        for (var i = 0; i < options.length; i++){
            var hiddenField = document.createElement("input");
            hiddenField.setAttribute("type", "hidden");
            hiddenField.setAttribute("name", options[i].id);
            hiddenField.setAttribute("value", true);
            form.appendChild(hiddenField);
        }
    
        document.body.appendChild(form);
        form.submit();
    }
</script>

<script>
    function refresh() {
    var form = document.createElement("form");
    form.setAttribute("method", "post");
    form.setAttribute("action", "/prices.html");

    var options = document.getElementsByName("option");

    for (var i = 0; i < options.length; i++){
        var hiddenField = document.createElement("input");
        hiddenField.setAttribute("type", "hidden");
        hiddenField.setAttribute("name", options[i].id);
        hiddenField.setAttribute("value", true);
        form.appendChild(hiddenField);
    }

    document.body.appendChild(form);
    form.submit();

    }
    setTimeout(refresh, 120000);
</script>



{% endblock %}
