{% extends "marketdata/highchartsbase.html" %}
{% block title %}
<title>Option: {{ option.name }} </title>
{% endblock %}
{% block content %}  

function getData() {
    $.ajax({
        url: "/marketdata/option/refresh/{{option.name}}/",
        data: {option_name: "{{option.name}}"},
        type: 'POST',
        dataType: "json",
        success: function(data) {
            live_chart.series[0].setData(data.bids, true);
            live_chart.series[1].setData(data.asks, true);
            live_chart.series[2].setData(data.values, true);
            live_chart.series[3].setData(data.last_trade_value, true);

            document.getElementById("future.bid").innerHTML = data.future_bid;
            document.getElementById("future.last_updated").innerHTML = data.future_last_updated;
            
            setTimeout(getData, 1000);
            //setTimeout(getData, 10000000000);
		},
		cache: false
    });
}

function freezeData() {
    $.ajax({
        url: "/marketdata/option/refresh/{{option.name}}/",
        data: {option_name: "{{option.name}}"},
        type: 'POST',
        dataType: "json",
        success: function(data) {
            freeze_chart.xAxis[1].setCategories(JSON.parse(data.last_updated));
            freeze_chart.series[0].setData(data.bids, true);
            freeze_chart.series[1].setData(data.asks, true);
            freeze_chart.series[2].setData(data.values, true);
            freeze_chart.series[3].setData(data.last_trade_value, true);
            freeze_chart.series[4].setData(data.bid_volume, true);
            freeze_chart.series[4].setVisible(false);
            freeze_chart.series[5].setData(data.ask_volume, true);
            freeze_chart.series[5].setVisible(false);
            freeze_chart.series[6].setData(data.bids_delta, true);
            freeze_chart.series[6].setVisible(false);
            freeze_chart.series[7].setData(data.asks_delta, true);
            freeze_chart.series[7].setVisible(false);
            freeze_chart.series[8].setData(data.values_delta, true);
            freeze_chart.series[8].setVisible(false);
            var now = new Date();
            document.getElementById("frozen-market-data-heading").innerHTML = "Frozen Market Data: " + now.format("Y-m-d H:i:s");
            document.getElementById("frozen-market-data-heading").style.color = "orange";
		},
		cache: false
    });
}

function populateTable(update) {
    var table = $('#publish-table').dataTable();
    // Immediately 'nuke' the current rows (perhaps waiting for an Ajax callback...)
    table.fnClearTable();
    var now = new Date();
    document.getElementById("publish-table-heading").innerHTML = "Unpublished Data: {{option.name}}. Underlying: {{future.name}}. Populated @: " + now.format("Y-m-d H:i:s");
    document.getElementById("publish-table-heading").style.color = "orange";
    var req_strikes = document.getElementsByName("req-strike");
    var strikes = new Array();
    var pos = 0;
    for (var i = 0; i < req_strikes.length; i++){
        if (req_strikes[i].checked){
            strikes[pos] = req_strikes[i].id; 
            pos++;
        }
    }
    $.ajax({
        url: "/marketdata/option/refresh-table/{{option.name}}/",
        data: {option_name: "{{option.name}}",
               vols: freeze_chart.series[2].yData,
               strikes: strikes,
               update: update},
        type: 'POST',
        dataType: "json",
        success: function(data) {
            //var row = table.fnAddData(data.first_row);
            var oSettings = table.fnSettings();
            //oSettings.aoData[row[0]].nTr.className = update;
            for (var i = 0; i < data.strikes.length; i++) 
            {
                row = table.fnAddData([
                    data.strikes[i],
                    data.call_values[i],
                    data.put_values[i],
                    data.random_column[i],
                    data.call_deltas[i],
                    data.put_deltas[i],
                    data.value_gamma[i],
                    data.value_theta[i],
                    data.value_vega[i],
                    data.vols[i],
                    data.changes[i]
                ]);
                oSettings.aoData[row[0]].nTr.className = update;
            }
		},
		cache: false
    });
}


function publishTable() {
    var update = confirm("Confirm update published prices?");
    var req_strikes = document.getElementsByName("req-strike");
    var strikes = new Array();
    var pos = 0;
    for (var i = 0; i < req_strikes.length; i++){
        if (req_strikes[i].checked){
            strikes[pos] = req_strikes[i].id; 
            pos++;
        }
    }
    if (update == true) {
        $.ajax({
            url: "/marketdata/option/publish-table/{{option.name}}/",
            data: {option_name: "{{option.name}}",
                   vols: freeze_chart.series[2].yData,
                   strikes: strikes},
            type: 'POST',
            dataType: "json",
            success: function(data) {
                if (data.Success){
                    var now = new Date();
                    populateTable('gradeX');
                    document.getElementById("publish-table-heading").innerHTML = "Published Data: {{option.name}}. Underlying: {{future.name}}. Published @: " + now.format("Y-m-d H:i:s");
                    document.getElementById("publish-table-heading").style.color = "Red";
                    //alert("Updated published Prices!");
                } else {
                    alert("Failed to update published Prices!");
                }
    		},
    		cache: false
        });
    } else {
        //alert("Cancelled updating published prices.");
    }

}


$(document).ready(function () {

    live_chart = new Highcharts.Chart({
            chart: {
				renderTo: 'marketdata',
                animation: Highcharts.svg, // don't animate in old IE
                events: {
						load: getData
				}
            },

            exporting: {
                buttons : {
                    contextButtons: {
                        enabled: false,
                        menuItems: null
                    }
                },
                enabled: false
            },
            title: {
                text: '{{ option.name }}',
                x: -20 //center
            },
            subtitle: {
                text: '',
                x: -20
            },
            xAxis: {
                categories: {{ strikes }},
                title: {text: "Strike"},
                tickmarkPlacement: 'on'
            },
            yAxis: {
                title: {
                    text: 'Vol'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                valueSuffix: ''
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle',
                borderWidth: 0
            },
            series: [{
                name: 'Bids',
                data: {{ bids }},
                lineWidth : 0
            }, {
                name: 'Asks',
                data: {{asks}},
                lineWidth : 0
            }, {
                name: 'Fair Value',
                data: {{values}}
            }, {
                name: 'Last Trade',
                data: {{last_trade_value}},
                lineWidth : 0
            }]
    });
});

$(function () {
    freeze_chart = new Highcharts.Chart({
            chart: {
				renderTo: 'frozen-marketdata'
            },
            exporting: {
                buttons : {
                    contextButtons: {
                        enabled: false,
                        menuItems: null
                    }
                },
                enabled: false
            },
            title: {
                text: '{{ option.name }}',
                x: -20 //center
            },
            subtitle: {
                text: '',
                x: -20
            },
            xAxis: [{
                categories: {{ strikes }},
                title: {text: "Strike"},
                tickmarkPlacement: 'on'
                },{
                categories: {{last_updated|safe}}
            }],
            yAxis: {
                title: {
                    text: 'Vol'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                formatter: function() {
                    var strikes = freeze_chart.xAxis[0].categories;
                    var bids = freeze_chart.series[0].yData;
                    var asks = freeze_chart.series[1].yData;
                    var values = freeze_chart.series[2].yData;
                    var last_trade_value = freeze_chart.series[3].yData;
                    var bid_vol = freeze_chart.series[4].yData;
                    var ask_vol = freeze_chart.series[5].yData;
                    var bids_delta = freeze_chart.series[6].yData;
                    var asks_delta = freeze_chart.series[7].yData;
                    var values_delta = freeze_chart.series[8].yData;
                    var last_updated = freeze_chart.xAxis[1].categories;
                    if (this.series.name == "Bids"){
                        var s = "<b>" + "Bid Vol" +"</b>";
                        //s += "<br/><b>" + "Strike: " + freeze_chart.xAxis[0].categories[this.point.x] +"</b>";
                        s += "<br/><b>" + "Strike: " + strikes[this.point.x] +"</b>";
                        s += "<br/> Bid vol:       " + bids[this.point.x];
                        s += "<br/> Bid volume:    " + bid_vol[this.point.x];
                        s += "<br/> Bid delta:     " + bids_delta[this.point.x];
                        s += "<br/> Last updated:  " + last_updated[this.point.x];
                    }
                    else if (this.series.name == "Asks"){
                        var s = "<b>" + "Ask Vol" +"</b>";
                        s += "<br/><b>" + "Strike: " + strikes[this.point.x] +"</b>";
                        s += "<br/> Ask vol:       " + asks[this.point.x];
                        s += "<br/> Ask volume:    " + ask_vol[this.point.x];
                        s += "<br/> Ask delta:     " + asks_delta[this.point.x];
                        s += "<br/> Last updated:  " + last_updated[this.point.x];
                    }
                    else if (this.series.name == "Fair Value"){
                        var s = "<b>" + "Publish Vol" +"</b>";
                        s += "<br/><b>" + "Strike: " + strikes[this.point.x] +"</b>";
                        s += "<br/> Vol:         " + this.point.y;
                        s += "<br/> Last trade vol:  " + last_trade_value[this.point.x];
                        s += "<br/> Last updated:  " + last_updated[this.point.x];
                    }
                    else if (this.series.name == "Last Trade"){
                        var s = "<b>" + "Last Trade" +"</b>";
                        s += "<br/><b>" + "Strike: " + strikes[this.point.x] +"</b>";
                        s += "<br/> Vol:         " + this.point.y;
                        s += "<br/> Last updated:  " + last_updated[this.point.x];
                    }
                    else 
                    {
                        var s = "<b>" + this.series.name +"</b>";
                        s += "<br/><b>" + "Strike: " + strikes[this.point.x] +"</b>";
                        s += "<br/> Value:         " + this.series.yData[this.point.x];
                    }
                return s;
                }
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle',
                borderWidth: 0
            },
            series: [{
                name: 'Bids',
                data: {{ bids }},
                lineWidth : 0
            }, {
                name: 'Asks',
                data: {{asks}},
                lineWidth : 0
            }, {
                name: 'Fair Value',
                data: {{values}},
                draggableY: true,
                dragMinY: 0
            }, {
                name: 'Last Trade',
                data: {{last_trade_value}},
                dragMinY: 0
            }, {
                name: 'Bids Volume',
                data: {{bid_volume}},
                lineWidth : 0,
                visible: false
            }, {
                name: 'Asks Volume',
                data: {{ask_volume}},
                lineWidth : 0,
                visible: false
            }, {
                name: 'Bids Delta',
                data: {{bids_delta}},
                lineWidth : 0,
                visible: false
            }, {
                name: 'Asks Delta',
                data: {{asks_delta}},
                lineWidth : 0,
                visible: false
            }, {
                name: 'Fair Value Delta',
                data: {{values_delta}},
                lineWidth : 0,
                visible: false
            }],
    });
});

		</script>
        <style type="text/css" title="currentStyle">
			@import "{{STATIC_URL}}DataTables/media/css/demo_page.css";
			@import "{{STATIC_URL}}DataTables/media/css/demo_table.css";
		</style>
        <script src="{{STATIC_URL}}DataTables/media/js/jquery.dataTables.js"></script>
        <script type="text/javascript" charset="utf-8">
			$(function() {
				$('#publish-table').dataTable({
                    "aaSorting": [],
                    "iDisplayLength": 100,
                    "bFilter": false,
                    "bLengthChange": false,
                });
			});
		</script>
	</head>
	<body>
    <script src="{{STATIC_URL}}highcharts/js/highcharts.js"></script>
    <script src="{{STATIC_URL}}highcharts/js/draggable-points.js"></script>
    <script src="{{STATIC_URL}}highcharts/js/modules/exporting.js"></script>

<!-- Fixed navbar -->
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/marketdata/">GW</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="/marketdata/">Futures</a></li>
        <li><a href="/marketdata/published-tables/">Published</a></li>
        <li><a href="/admin/">Admin</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>

<script src="{{STATIC_URL}}highcharts/js/highcharts.js"></script>
<script src="{{STATIC_URL}}highcharts/js/modules/exporting.js"></script>

<div class="container theme-showcase">
    <div class="row">
        <div class="row"> 
            <div class="page-header">
            </div>
        </div>
        <div class="container">
            <div class="row">    
                <div class="col-lg-10">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                Market Data
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div id="marketdata" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="well text-center">
                        <h4> {{future.name}} Bid Price </h4>
                        <h3 id="future.bid"> {{future.bid}} </h3>
                        <p />
                        <h3 id="future.last_updated">{{future_last_updated}}</h3> 
                        <button type="button" class="btn btn-lg btn-success" onclick="return freezeData();" >Freeze</button>
                    </div>
                </div>
            </div>
        </div>    
    </div>
    <div class="row">
        <div class="row"> 
            <div class="page-header">
            </div>
        </div>
        <div class="container">
            <div class="row">    
                <div class="col-lg-10">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title" id="frozen-market-data-heading">
                                Frozen Market Data
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div id="frozen-marketdata" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="well text-center">
                        <h4> Required Strikes </h4>
                        {% for strike in non_json_strikes %}
                        <p>
                        <input type="checkbox" id="{{strike}}" name="req-strike" checked> {{strike}} </input>
                        </p>
                        {% endfor %}
                        <button type="button" class="btn btn-lg btn-warning" onclick="return populateTable('gradeC');">Populate</button>
                    </div>
                </div>
            </div>
        </div>    
    </div>
    <div class="row">
        <div class="row"> 
            <div class="page-header">
            </div>
        </div>
        <div class="container">
            <div class="row">    
                <div class="col-lg-10">
                    <div class="container">

                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                {% if published %}
                                    <h3 class="panel-title" style="color:red" id="publish-table-heading">
                                        Published Data: {{option.name}}. Published Time: {{published_time}}. Underlying: {{future.name}}
                                {% else %}
                                    <h3 class="panel-title" style="color:green" id="publish-table-heading">
                                        Unpublished Data: {{option.name}}. Underlying: {{future.name}}
                                    </h1>
                                {% endif %}
                            </div>
                            <div class="panel-body">
                                <div class="well">
                                    <table cellpadding="0" cellspacing="0" border="0" class="display" id="publish-table">
                                        <thead>
                                            <tr>
                                                <th>Strike</th>
                                                <th>Call</th>
                                                <th>Put</th>
                                                <th>Stradle</th>
                                                <th>Call Delta</th>
                                                <th>Put Delta</th>
                                                <th>Gamma</th>
                                                <th>Theta</th>
                                                <th>Vega</th>
                                                <th>Imp. Vol.</th>
                                                <th>Change</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for row in table_data %}
                                        {% if published %}
                                            <tr class="gradeX">
                                        {% else %}
                                            <tr class="gradeA">
                                        {% endif %}
                                        {% for e in row %}
                                                <td>{{e}}</td>
                                        {% endfor %}
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th>Strike</th>
                                                <th>Call</th>
                                                <th>Put</th>
                                                <th>Stradle</th>
                                                <th>Call Delta</th>
                                                <th>Put Delta</th>
                                                <th>Gamma</th>
                                                <th>Theta</th>
                                                <th>Vega</th>
                                                <th>Imp. Vol.</th>
                                                <th>Change</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="well text-center">
                        <button type="button" class="btn btn-lg btn-danger" onclick="return publishTable();">Publish</button>
                    </div>
                </div>

            </div>
        </div>    
    </div>
</div>

	</body>
</html>



{% endblock %}

