{% extends "marketdata/highchartsbase.html" %}
{% block title %}
<title>Option: {{ option.name }} </title>
{% endblock %}
{% block content %}  

function getData() {
    $.ajax({
        url: "/marketdata/option/refresh/{{option.name}}/",
        data: {option_name: "{{option.name}}"},
        type: 'POST',
        dataType: "json",
        success: function(data) {
            live_chart.series[0].setData(data.bids, true);
            live_chart.series[1].setData(data.asks, true);
            live_chart.series[2].setData(data.values, true);
            live_chart.series[3].setData(data.last_trade_value, true);
            //setTimeout(getData, 1000);
            setTimeout(getData, 10000000000);
		},
		cache: false
    });
}

function freezeData() {
    $.ajax({
        url: "/marketdata/option/refresh/{{option.name}}/",
        data: {option_name: "{{option.name}}"},
        type: 'POST',
        dataType: "json",
        success: function(data) {
            freeze_chart.xAxis[1].setCategories(JSON.parse(data.last_updated));
            freeze_chart.series[0].setData(data.bids, true);
            freeze_chart.series[1].setData(data.asks, true);
            freeze_chart.series[2].setData(data.values, true);
            freeze_chart.series[3].setData(data.bid_volume, true);
            freeze_chart.series[3].setVisible(false);
            freeze_chart.series[4].setData(data.ask_volume, true);
            freeze_chart.series[4].setVisible(false);
            freeze_chart.series[5].setData(data.bids_delta, true);
            freeze_chart.series[5].setVisible(false);
            freeze_chart.series[6].setData(data.asks_delta, true);
            freeze_chart.series[6].setVisible(false);
            freeze_chart.series[7].setData(data.values_delta, true);
            freeze_chart.series[7].setVisible(false);
            var now = new Date();
            document.getElementById("frozen-market-data-heading").innerHTML = "Frozen Market Data: " + now.format("Y-m-d H:i:s");
            document.getElementById("frozen-market-data-heading").style.color = "green";
		},
		cache: false
    });
}

function populateTable() {
    var table = $('#publish-table').dataTable();
    // Immediately 'nuke' the current rows (perhaps waiting for an Ajax callback...)
    table.fnClearTable();
    var now = new Date();
    document.getElementById("publish-table-heading").innerHTML = "Unpublished Data: {{option.name}}<br /> Underlying: {{future.name}}<br /> Populated @: " + now.format("Y-m-d H:i:s");
    document.getElementById("publish-table-heading").style.color = "orange";
    $.ajax({
        url: "/marketdata/option/refresh-table/{{option.name}}/",
        data: {option_name: "{{option.name}}",
               vols: freeze_chart.series[2].yData,
               strikes: freeze_chart.xAxis[0].categories},
        type: 'POST',
        dataType: "json",
        success: function(data) {
            table.fnAddData(data.first_row);
            for (var i = 0; i < data.strikes.length; i++) 
            {
                table.fnAddData([
                    data.deltas[i],
                    data.strikes[i],
                    data.random_column[i],
                    data.call_values[i],
                    data.put_values[i],
                    data.strikes[i],
                    data.vols[i],
                    data.changes[i]
                ])
            }
            //freeze_chart.series[7].setData(data.values_delta, true);
		},
		cache: false
    });

}


$(document).ready(function () {

    live_chart = new Highcharts.Chart({
            chart: {
				renderTo: 'marketdata',
                animation: Highcharts.svg, // don't animate in old IE
                events: {
						load: getData
				}
            },

            exporting: {
                buttons : {
                    contextButtons: {
                        enabled: false,
                        menuItems: null
                    }
                },
                enabled: false
            },
            title: {
                text: '{{ option.name }}',
                x: -20 //center
            },
            subtitle: {
                text: '',
                x: -20
            },
            xAxis: {
                categories: {{ strikes }},
                title: {text: "Strike"},
                tickmarkPlacement: 'on'
            },
            yAxis: {
                title: {
                    text: 'Vol'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                valueSuffix: ''
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle',
                borderWidth: 0
            },
            series: [{
                name: 'Bids',
                data: {{ bids }},
                lineWidth : 0
            }, {
                name: 'Asks',
                data: {{asks}},
                lineWidth : 0
            }, {
                name: 'Fair Value',
                data: {{values}}
            }, {
                name: 'Last Trade',
                data: {{last_trade_value}},
                lineWidth : 0
            }]
    });
});

$(function () {
    freeze_chart = new Highcharts.Chart({
            chart: {
				renderTo: 'frozen-marketdata'
            },
            exporting: {
                buttons : {
                    contextButtons: {
                        enabled: false,
                        menuItems: null
                    }
                },
                enabled: false
            },
            title: {
                text: '{{ option.name }}',
                x: -20 //center
            },
            subtitle: {
                text: '',
                x: -20
            },
            xAxis: [{
                categories: {{ strikes }},
                title: {text: "Strike"},
                tickmarkPlacement: 'on'
                },{
                categories: {{last_updated|safe}}
            }],
            yAxis: {
                title: {
                    text: 'Vol'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                formatter: function() {
                    var strikes = freeze_chart.xAxis[0].categories;
                    var bids = freeze_chart.series[0].yData;
                    var asks = freeze_chart.series[1].yData;
                    var values = freeze_chart.series[2].yData;
                    var bid_vol = freeze_chart.series[3].yData;
                    var ask_vol = freeze_chart.series[4].yData;
                    var bids_delta = freeze_chart.series[5].yData;
                    var asks_delta = freeze_chart.series[6].yData;
                    var values_delta = freeze_chart.series[7].yData;
                    var last_updated = freeze_chart.xAxis[1].categories;
                    if (this.series.name == "Bids"){
                        var s = "<b>" + "Bid Vol" +"</b>";
                        //s += "<br/><b>" + "Strike: " + freeze_chart.xAxis[0].categories[this.point.x] +"</b>";
                        s += "<br/><b>" + "Strike: " + strikes[this.point.x] +"</b>";
                        s += "<br/> Bid vol:       " + bids[this.point.x];
                        s += "<br/> Bid volume:    " + bid_vol[this.point.x];
                        s += "<br/> Bid delta:     " + bids_delta[this.point.x];
                        s += "<br/> Last updated:  " + last_updated[this.point.x];
                    }
                    else if (this.series.name == "Asks"){
                        var s = "<b>" + "Ask Vol" +"</b>";
                        s += "<br/><b>" + "Strike: " + strikes[this.point.x] +"</b>";
                        s += "<br/> Ask vol:       " + asks[this.point.x];
                        s += "<br/> Ask volume:    " + ask_vol[this.point.x];
                        s += "<br/> Ask delta:     " + asks_delta[this.point.x];
                        s += "<br/> Last updated:  " + last_updated[this.point.x];
                    }
                    else if (this.series.name == "Fair Value"){
                        var s = "<b>" + "Fair Value Vol" +"</b>";
                        s += "<br/><b>" + "Strike: " + strikes[this.point.x] +"</b>";
                        //s += "<br/> Value:         " + values[this.point.x];
                        s += "<br/> Last updated:  " + last_updated[this.point.x];
                    }
                    else 
                    {
                        var s = "<b>" + this.series.name +"</b>";
                        s += "<br/><b>" + "Strike: " + strikes[this.point.x] +"</b>";
                        s += "<br/> Value:         " + this.series.yData[this.point.x];
                    }
                return s;
                }
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle',
                borderWidth: 0
            },
            series: [{
                name: 'Bids',
                data: {{ bids }},
                lineWidth : 0
            }, {
                name: 'Asks',
                data: {{asks}},
                lineWidth : 0
            }, {
                name: 'Fair Value',
                data: {{values}},
                draggableY: true,
                dragMinY: 0
            }, {
                name: 'Bids Volume',
                data: {{bid_volume}},
                lineWidth : 0,
                visible: false
            }, {
                name: 'Asks Volume',
                data: {{ask_volume}},
                lineWidth : 0,
                visible: false
            }, {
                name: 'Bids Delta',
                data: {{bids_delta}},
                lineWidth : 0,
                visible: false
            }, {
                name: 'Asks Delta',
                data: {{asks_delta}},
                lineWidth : 0,
                visible: false
            }, {
                name: 'Fair Value Delta',
                data: {{values_delta}},
                lineWidth : 0,
                visible: false
            }],
    });
});

		</script>
        <style type="text/css" title="currentStyle">
			@import "{{STATIC_URL}}DataTables/media/css/demo_page.css";
			@import "{{STATIC_URL}}DataTables/media/css/demo_table.css";
		</style>
        <script src="{{STATIC_URL}}DataTables/media/js/jquery.dataTables.js"></script>
        <script type="text/javascript" charset="utf-8">
			$(function() {
				$('#publish-table').dataTable({
                    "aaSorting": [],
                    "iDisplayLength": 100
                    //"fnRowCallback": function( nRow, aData, iDisplayIndex ) {
                    //    nRow.className = "gradeX odd";
                    //    return nRow;   
                    //}
                });
			});
		</script>
	</head>
	<body>
    <script src="{{STATIC_URL}}highcharts/js/highcharts.js"></script>
    <script src="{{STATIC_URL}}highcharts/js/draggable-points.js"></script>
    <script src="{{STATIC_URL}}highcharts/js/modules/exporting.js"></script>

<!-- Fixed navbar -->
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/marketdata/">GW</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="/marketdata/">Futures</a></li>
        <li><a href="options.html">Options</a></li>
        <li><a href="published.html">Published Prices</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>

<script src="{{STATIC_URL}}highcharts/js/highcharts.js"></script>
<script src="{{STATIC_URL}}highcharts/js/modules/exporting.js"></script>


<div class="container theme-showcase">
    <div class="row">
        <div class="row"> 
            <div class="page-header">
                <h1>
                    Market Data
                </h1>
            </div>
        </div>
        <div class="container">
            <div class="row">    
                <div class="col-lg-10">
                    <div id="marketdata" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                </div>
                <div class="col-lg-1">
                    <div class="block" style="height: 165px;">
                        <div class="centered">
                            <button type="button" class="btn btn-lg btn-success" onclick="return freezeData();" >Freeze Market Data</button>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>    
    </div>
    <div class="row">
        <div class="row"> 
            <div class="page-header">
                <h1 id="frozen-market-data-heading">
                    Frozen Market Data
                </h1>
            </div>
        </div>
        <div class="container">
            <div class="row">    
                <div class="col-lg-10">
                    <div id="frozen-marketdata" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                </div>
                <div class="col-lg-1">
                    <div class="block" style="height: 165px;">
                        <div class="centered">
                            <button type="button" class="btn btn-lg btn-warning" onclick="return populateTable();">Populate Table</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
    </div>
    <div class="row">
        <div class="row"> 
            <div class="page-header">
                {% if published %}
                    <h1 style="color:red" id="publish-table-heading">
                        Published Data: {{option.name}}<br /> Published Time: {{published_time}} <br />Underlying: {{future.name}}
                {% else %}
                    <h1 style="color:green" id="publish-table-heading">
                        Unpublished Data: {{option.name}}<br /> Underlying: {{future.name}}
                    </h1>
                {% endif %}
            </div>
        </div>
        <div class="container">
            <div class="row">    
                <div class="col-lg-10">
                    <div class="container">

                        <table cellpadding="0" cellspacing="0" border="0" class="display" id="publish-table">
                        	<thead>
                        		<tr>
                                    <th>Delta</th>
                        			<th>Strike</th>
                                    <th></th>
                        			<th>Call</th>
                        			<th>Put</th>
                        			<th>Strike</th>
                        			<th>Imp. Vol.</th>
                        			<th>Change</th>
                        		</tr>
                        	</thead>
                    	    <tbody>
                                {% for row in table_data %}
                                    {% if published %}
                    		            <tr class="gradeX">
                                    {% else %}
                    		            <tr class="gradeA">
                                    {% endif %}
                                    {% for e in row %}
                                        <td>{{e}}</td>
                                    {% endfor %}
                    		        </tr>
                                {% endfor %}
                    	    </tbody>
                    	    <tfoot>
                    		    <tr>
                                    <th>Delta</th>
                        			<th>Strike</th>
                                    <th></th>
                        			<th>Call</th>
                        			<th>Put</th>
                        			<th>Strike</th>
                        			<th>Imp. Vol.</th>
                        			<th>Change</th>
                    		    </tr>
                    	    </tfoot>
                        </table>
                    </div>

                </div>
                <div class="col-lg-1">
                    <div class="block" style="height: 165px;">
                        <div class="centered">
                            <button type="button" class="btn btn-lg btn-danger" onclick="return publishTable();">Publish</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
    </div>
</div>

	</body>
</html>



{% endblock %}

