{% extends "marketdata/highchartsbase.html" %}
{% block title %}
<title>Option: {{ option.name }} </title>
{% endblock %}
{% block content %}  
function getDataOld(option_name) {
    var retvalue = {{ asks }};
    // ajax goes here
    return retvalue;
}
function getData() {
    var result = [];
    $.ajax({
        url: "ccc/marketdata/option/refresh/{{option.name}}/",
        data: {option_name: "{{option.name}}"},
        type: 'POST',
        dataType: "json",
        success: function(data) {
            live_chart.series[0].setData(data.bids, true);
            live_chart.series[1].setData(data.asks, true);
            live_chart.series[2].setData(data.values, true);
            live_chart.series[3].setData(data.last_trade_value, true);
            setTimeout(getData, 1000);
		},
		cache: false
    });
}

function freezeData() {
    var result = [];
    $.ajax({
        url: "/marketdata/option/refresh/{{option.name}}/",
        data: {option_name: "{{option.name}}"},
        type: 'POST',
        dataType: "json",
        success: function(data) {
            freeze_chart.series[0].setData(data.bids, true);
            freeze_chart.series[1].setData(data.asks, true);
            freeze_chart.series[2].setData(data.values, true);
		},
		cache: false
    });
}

$(document).ready(function () {

    live_chart = new Highcharts.Chart({
            chart: {
				renderTo: 'marketdata',
                animation: Highcharts.svg, // don't animate in old IE
                events: {
						load: getData
				}
            },

            exporting: {
                buttons : {
                    contextButtons: {
                        enabled: false,
                        menuItems: null
                    }
                },
                enabled: false
            },
            title: {
                text: '{{ option.name }}',
                x: -20 //center
            },
            subtitle: {
                text: '',
                x: -20
            },
            xAxis: {
                //categories: {{ strikes }},
                //title: {text: "Strike"},
                //tickmarkPlacement: 'on'
            },
            yAxis: {
                title: {
                    text: ''
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                formatter: function() {
                    var strikes = {{strikes}};
                    var bids = {{bids}};
                    var asks = {{asks}};
                    var values = {{values}};
                    var bid_vol = {{bid_volume}};
                    var ask_vol = {{ask_volume}};
                    var last_trade_value = {{last_trade_value}};
                    var last_trade_volume = {{last_trade_volume}};
                    var last_updated = {{last_updated|safe}};
                    if (this.series.name == 'Bids'){
                        var s = '<b>' + 'Bid' +'</b>';
                        s += '<br/><b>' + 'Strike: ' + strikes[this.x] +'</b>';
                        s += '<br/> Bid price:    ' + bids[this.x];
                        s += '<br/> Bid volume:   ' + bid_vol[this.x];
                        s += '<br/> Last updated: ' + last_updated[this.x];
                    }
                    if (this.series.name == 'Asks'){
                        var s = '<b>' + 'Asks' +'</b>';
                        s += '<br/><b>' + 'Strike: ' + strikes[this.x] +'</b>';
                        s += '<br/> Ask price:    ' + asks[this.x];
                        s += '<br/> Ask volume:   ' + bid_vol[this.x];
                        s += '<br/> Last updated: ' + last_updated[this.x];
                    }
                    if (this.series.name == 'LastTrade'){
                        var s = '<b>' + 'Last Trade' +'</b>';
                        s += '<br/><b>' + 'Strike: ' + strikes[this.x] +'</b>';
                        s += '<br/> Last trade price:  ' + last_trade_value[this.x];
                        s += '<br/> Last trade volume: ' + last_trade_volume[this.x];
                        s += '<br/> Last updated:      ' + last_updated[this.x];
                    }
                    if (this.series.name == 'FairValue'){
                        var s = '<b>' + 'Fair Value' +'</b>';
                        s += '<br/><b>' + 'Strike: ' + strikes[this.x] +'</b>';
                        s += '<br/> Value:        ' + values[this.x];
                        s += '<br/> Last updated: ' + last_updated[this.x];
                    }
                return s;
                }
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle',
                borderWidth: 0
            },
            series: [{
                name: 'Bids',
                data: {{ bids }}
            }, {
                name: 'Asks',
                data: {{asks}}
            }, {
                name: 'FairValue',
                data: {{values}}
            }, {
                name: 'LastTrade',
                data: {{last_trade_value}}
            }]
        });

    });
$(function () {
    freeze_chart = new Highcharts.Chart({
            chart: {
				renderTo: 'frozen-marketdata'
            },
            exporting: {
                buttons : {
                    contextButtons: {
                        enabled: false,
                        menuItems: null
                    }
                },
                enabled: false
            },
            title: {
                text: '{{ option.name }}',
                x: -20 //center
            },
            subtitle: {
                text: '',
                x: -20
            },
            xAxis: {
                categories: {{ strikes }},
                title: {text: "Strike"},
                tickmarkPlacement: 'on'
            },
            yAxis: {
                title: {
                    text: ''
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                valueSuffix: ''
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle',
                borderWidth: 0
            },
            series: [{
                name: 'Bids',
                data: {{ bids }}
            }, {
                name: 'Asks',
                data: {{asks}}
            }, {
                name: 'Fair Value',
                data: {{values}},
                draggableY: true,
                dragMinY: 0
            }]
        });
    });
   

		</script>
	</head>
	<body>
    <script src="{{STATIC_URL}}highcharts/js/highcharts.js"></script>
    <script src="{{STATIC_URL}}highcharts/js/draggable-points.js"></script>
    <script src="{{STATIC_URL}}highcharts/js/modules/exporting.js"></script>

<!-- Fixed navbar -->
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/marketdata/">GW</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="/marketdata/">Futures</a></li>
        <li><a href="options.html">Options</a></li>
        <li><a href="published.html">Published Prices</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>

<script src="{{STATIC_URL}}highcharts/js/highcharts.js"></script>
<script src="{{STATIC_URL}}highcharts/js/modules/exporting.js"></script>

<div class="container theme-showcase">
    <div class="row">
        <div class="row"> 
            <div class="page-header">
                <h1>
                    Market Data
                </h1>
            </div>
        </div>
        <div class="container">
            <div class="row">    
                <div class="col-lg-10">
                    <div id="marketdata" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                </div>
                <div class="col-lg-1">
                    <div class="block" style="height: 165px;">
                        <div class="centered">
                            <button type="button" class="btn btn-lg btn-success" onclick="return freezeData();" >Freeze</button>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>    
    </div>
    <div class="row">
        <div class="row"> 
            <div class="page-header">
                <h1>
                    Frozen Market Data
                </h1>
            </div>
        </div>
        <div class="container">
            <div class="row">    
                <div class="col-lg-10">
                    <div id="frozen-marketdata" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                </div>
                <div class="col-lg-1">
                    <div class="block" style="height: 165px;">
                        <div class="centered">
                            <button type="button" class="btn btn-lg btn-danger">Publish</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
    </div>
</div>

	</body>
</html>



{% endblock %}

